.projects {
  display: flex;
  align-items: center;
  // padding-left: 10vw; /* Ajuste proporcional usando vw */
  padding-right: 10vw; /* Ajuste proporcional usando vw */
  flex-direction: column;
  margin-top: 5vh; /* Ajuste proporcional usando vh */
  overflow-x: hidden;


  h2 {
    font-size: 5vw; /* Ajuste proporcional usando vw */
    letter-spacing: 0.2vw; /* Ajuste proporcional usando vw */
    font-weight: 300;
    color: var(--text);
    text-align: center;
    margin-bottom: 10vh; /* Ajuste proporcional usando vh */
    font-family: "Josefin Sans", sans-serif;
  }

  .body {
    max-width: 90vw; /* Ajuste proporcional usando vw */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh; /* Ajuste proporcional usando vh */
  }

  .modalContainer {
    height: 40vh; /* Ajuste proporcional usando vh */
    width: 40vw; /* Ajuste proporcional usando vw */
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    pointer-events: none;
    overflow: hidden;
    z-index: 3;
  }

  .modalSlider {
    height: 100%;
    width: 100%;
    position: relative;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  .modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal img {
    width: 90%;
    height: auto;
  }

  .cursor,
  .cursorLabel {
    width: 8vw; /* Ajuste proporcional usando vw */
    height: 8vw; /* Ajuste proporcional usando vw */
    border-radius: 50%;
    background-color: var(--text);
    color: var(--background);
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw; /* Ajuste proporcional usando vw */
    font-weight: 300;
    pointer-events: none;
    font-family: "Josefin Sans", sans-serif;
  }

  .cursorLabel {
    background-color: transparent;
  }

  // @media screen and (max-width: 1000px) {
  //   padding-left: 5vw; /* Ajuste proporcional usando vw */
  //   padding-right: 5vw; /* Ajuste proporcional usando vw */
  // }

  // @media screen and (max-width: 800px) {
  //   height: 100vh; /* Ajuste proporcional usando vh */
  // }
}