.section {
    width: 98%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    color: var(--text);
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 10vh;
    margin-bottom: 1vw;



    h1{
        font-size: 12vh;
        margin: 0;
        font-weight: 400;
        max-width: 30vw;
        font-family: 'TalismanLight', sans-serif;
        line-height: 100%;
        padding-bottom: 10vh;
    }
    p{
        font-family: 'OverusedGrotesk-Light', sans-serif;
        font-weight: 300;
        font-size: 1vw;
        max-width: 30vw;
        padding-bottom: 10vh;
  
        
    }

}