.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 30px 50px;
  border-top: 1px solid var(--text);
  cursor: pointer;
  transition: all 0.2s;
  overflow-x: hidden;

  width: 800px;


  @media screen and (max-width: 1000px) {

    width: 500px;
  }

  @media screen and (max-width: 600px) {

    width: 300px;
  }
  .worktitle {
    font-size: 30px;
    margin: 0px;
    font-weight: 300;
    transition: all 0.4s;
    font-family: "Josefin Sans", sans-serif !important;
    color: var(--text);

    @media screen and (max-width: 1000px) {
      font-size: 20px;
  
      justify-self: flex-start;
      text-align: left;
  
    }
  }

  p {
    transition: all 0.4s;
    font-weight: 300;
    font-family: "Montserrat", sans-serif !important;
    text-decoration: none;
    color: var(--text);

  }

  &:last-of-type {
    border-bottom: 1px solid var(--text);
  }

  &:hover {
    opacity: 0.5;

    h2 {
      transform: translateX(-10px);
    }

    p {
      transform: translateX(10px);
    }
  }
}
