@import './variables';

body {
  background-color: var(--background);
  color: var(--text);
}

.theme-1 {
  --background: #{$theme-1-background};
  --text: #{$theme-1-text};
}

.theme-2 {
  --background: #{$theme-2-background};
  --text: #{$theme-2-text};
}

.theme-3 {
  --background: #{$theme-3-background};
  --text: #{$theme-3-text};
}

.theme-4 {
  --background: #{$theme-4-background};
  --text: #{$theme-4-text};
}