$theme-1-background: rgba(134, 140, 125, 1);
$theme-1-text: rgba(241, 250, 228, 1);
$theme-1-button-bg: rgba(241, 250, 228, 1);
$theme-1-button-text: rgba(134, 140, 125, 1);

$theme-2-background: rgba(42, 49, 39, 1);
$theme-2-text: rgba(214, 235, 252, 1);
$theme-2-button-bg: rgba(214, 235, 252, 1);
$theme-2-button-text: rgba(42, 49, 39, 1);

$theme-3-background: rgba(66, 80, 62, 1);
$theme-3-text: rgba(255, 212, 175, 1);
$theme-3-button-bg: rgba(255, 212, 175, 1);
$theme-3-button-text: rgba(66, 80, 62, 1);

$theme-4-background: rgba(237, 232, 228, 1);
$theme-4-text: rgba(0, 0, 0, 1);

$theme-5-background: rgba(20, 29, 46, 1);
$theme-5-text: rgba(0, 106, 255, 1);

$theme-6-background: rgba(31, 98, 70, 1);
$theme-6-text: rgba(255, 188, 210, 1);

$theme-7-background: rgba(186, 85, 74, 1);
$theme-7-text: rgba(255, 224, 133, 1);

$theme-8-background: rgba(80, 76, 38, 1);
$theme-8-text: rgba(235, 255, 0, 1);

$theme-9-background: rgba(153, 163, 191, 1);
$theme-9-text: rgba(235, 240, 255, 1);

$theme-10-background: rgba(4, 15, 73, 1);
$theme-10-text: rgba(255, 0, 0, 1);

$theme-11-background: rgba(66, 80, 62, 1);
$theme-11-text: rgba(255, 212, 175, 1);

$theme-12-background: rgba(54, 104, 174, 1);
$theme-12-text: rgba(255, 203, 219, 1);
