$theme-1-background:  rgba(237, 232, 228, 1);
$theme-1-text: #1557e7;

$theme-2-background: black;
$theme-2-text: rgba(237, 232, 228, 1);

$theme-3-background: rgba(237, 232, 228, 1);
$theme-3-text: rgb(36, 36, 36);

$theme-4-background:rgba(235, 240, 255, 1) ;
$theme-4-text: rgb(223, 83, 67);

