$theme-1-background:  rgba(237, 232, 228, 1);
$theme-1-text: #1557e7;

// $theme-2-background: black;
// $theme-2-text: rgba(237, 232, 228, 1);
$theme-2-background: rgb(99, 121, 98);
$theme-2-text: rgb(244, 245, 249);

$theme-3-background: rgb(237, 233, 233);
$theme-3-text: rgb(140, 140, 21);



