// body{
//     background-color: rgba(134, 140, 125, 1);
//     color:rgba(241, 250, 228, 1)
// }


/* * 		--text-color: rgba(214, 235, 252, 1);
  --bg-color: rgba(42, 49, 39, 1); */

@import '../styles/variables.scss';

body {
  background-color: var(--background);
  color: var(--text);
}



.theme-1 {
  --background: #{$theme-1-background};
  --text: #{$theme-1-text};
  --button-bg: #{$theme-1-button-bg};
  --button-text: #{$theme-1-button-text};
  --nav-bg: #{$theme-1-nav-bg};
  --nav-text: #{$theme-1-nav-text};
}

.theme-2 {
  --background: #{$theme-2-background};
  --text: #{$theme-2-text};
  --button-bg: #{$theme-2-button-bg};
  --button-text: #{$theme-2-button-text};
  --nav-bg: #{$theme-2-nav-bg};
  --nav-text: #{$theme-2-nav-text};
}

.theme-3 {
  --background: #{$theme-4-background};
  --text: #{$theme-4-text};
  --button-bg: #{$theme-3-button-bg};
  --button-text: #{$theme-3-button-text};
  --nav-bg: #{$theme-3-nav-bg};
  --nav-text: #{$theme-3-nav-text};
}

.theme-4 {
  --background: #{$theme-4-background};
  --text: #{$theme-4-text};
  --button-bg: #{$theme-2-button-bg};
  --button-text: #{$theme-2-button-text};
  --nav-bg: #{$theme-4-nav-bg};
  --nav-text: #{$theme-4-nav-text};
}

