.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  margin: 0 auto;
  background-color: var(--text);

  h2 {
    font-size: 200px;
    color: var(--background);
    position: absolute;
    width: 100%;
    z-index: 5000;
    font-family: "TalismanCompactRegular", sans-serif;
  }
  img{
      position: absolute;
      top: 230px;
      width: 100%;
      height: calc(100% + 300px);
      z-index: 5000;
      height: 100px;
      width: auto;
  }
  svg{
      position: absolute;
      top: 0;
      width: 100%;
      height: calc(100% + 300px);
      path{
          fill: var(--text);

      }
  }
  p{
      display: flex;

      color:var(--background);
      font-size: 42px;
      align-items: center;
      position: absolute;
      bottom:0px;
      right: 20%;
      z-index: 1;
      font-family: var(--font-jose);

  }
}
