.section {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: var(--text);
  color: var(--background);
  justify-content: space-between;

  h2 {
    margin: 0px;
    font-size: 3.2vw; // Ajuste proporcional usando vw
    font-weight: 600;
    margin-top: 2vh; // Ajuste proporcional usando vh
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 3vw;
  }

  .contentcontainer {
    display: flex;

    .left {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 300px;

      margin-left: 3vw;
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 300px;
    }

    p {
      font-size: 1vw;
      font-weight: 300;
      margin-top: 5vh;
      letter-spacing: 0.5px;
      line-height: 120%;
      font-family: "Josefin Sans", sans-serif;
    }
  }

  .line {
    background-color: var(--background);
    width: 100%;
    height: 15px;
  }

  .footer {
    display: flex;
    align-items: center;
    width: 95vw;
    margin: 0 auto;



    p {
      font-size: 2vh;
      font-weight: 300;
      margin-left: 1vh;
      letter-spacing: 0.5px;
      font-family: "Michroma", sans-serif;

      @media only screen and (max-width: 600px) {
        font-size: 1.5vh;
      }
    }
  }
}
