.description {
  height: 60vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text);
  color: var(--background);

  @media only screen and (max-width: 1000px) {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .body {
    display: flex;
    justify-content: center;
    position: relative;

    span {
      font-family: "OverusedGrotesk-Light", sans-serif;
      font-weight: 300;
      border-top: 1px solid var(--background);
      line-height: 120%;
      padding-right: 20vw;
      margin-right: 40px;
      font-size: 2vh;
      padding-top: 1vh;
    }

    p {
      font-size: 4vh;
      margin: 0;
      font-weight: 300;
      max-width: 60vw;
      font-family: "OverusedGrotesk-Light", sans-serif;
      line-height: 120%;
      @media only screen and (max-width: 1000px) {
        max-width: 90vw;
      }
    }

    .styled-paragraph {
      font-size: 1rem;
      line-height: 1.5;

      .highlighted {
        font-weight: bold; // Cambia el peso de la fuente
        color: #007bff; // Cambia el color de las palabras
        border-top: 2px solid #007bff; // Agrega un borde superior
        padding-top: 2px; // Ajusta el espacio entre el borde y el texto
        display: inline-block; // Asegura que el span respete los bordes
        align-items: flex-start;
      }
    }

    @media screen and (max-width: 1000px) {
      padding-left: 0;
      padding-right: 0;
      gap: 0;
    }
  }

  .moreWork {
    padding: 2vh; // Ajuste proporcional usando vh
    border-radius: 4vh; // Ajuste proporcional usando vh
    border: 1px solid grey;
  }
}

.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  top: 50px;
  color: white;
  padding: 35px;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;
  background-color: violet;

  .logo {
    display: flex;
    cursor: pointer;

    p {
      margin: 0px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
      display: flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 1px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

      p {
        position: relative;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        &:nth-of-type(2) {
          padding-left: 0.3em;
        }
        &:nth-of-type(3) {
          position: absolute;
          left: 180px;
          padding-left: 0.3em;
        }
      }
    }
    &:hover {
      .copyright {
        transform: rotate(360deg);
      }

      .name {
        // padding-right: 30px;
        .codeBy {
          transform: translateY(-100%);
        }
        .dennis {
          transform: translateY(-100px);
        }
        .snellenberg {
          transform: translateX(-180px);
        }
      }
    }
  }

  
}

.header2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  top: 150px;
  color: white;
  padding: 35px;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
  box-sizing: border-box;
  align-items: center;
  background-color: grey;

  .logo {
    display: flex;
    cursor: pointer;

    p {
      margin: 0px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .name {
      display: flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      margin-left: 1px;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);

      p {
        position: relative;
        transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        &:nth-of-type(2) {
          padding-left: 0.3em;
        }
        &:nth-of-type(3) {
          position: absolute;
          top:80px;
          // left: 180px;
          padding-left: 0.3em;
        }
        &:nth-of-type(4) {
          position: absolute;
          top:80px;
          left: 60px;
          padding-left: 0.3em;
        }
      }
    }
    &:hover {
      .copyright {
        transform: rotate(360deg);
      }

      .name {
        // padding-right: 30px;
        .codeBy {
          transform: translateY(-100%);
        }
        .dennis {
          transform: translateY(-100px);
        }
        .snellenberg {
          transform: translateY(-80px);
        }
        .snellenberg2 {
          transform: translateY(-80px);
        }
      }
    }
  }

  
}

