.description {
  height: auto;
  padding-left: 4vw; // Ajuste proporcional usando vw
  padding-right: 4vw; // Ajuste proporcional usando vw
  padding-top: 2vw; // Ajuste proporcional usando vw
  padding-bottom: 10vw; // Ajuste proporcional usando vw
 // Ajuste proporcional usando vh
  display: flex;
  justify-content: center;
  align-items: center;


  // @media screen and (max-width: 1000px) {
  //   padding-left: 2vw; 
  //   padding-right: 2vw; 
  //   width: 95%;
  //   margin: 0 auto;
  //   margin-top: 5vh; 
  //   display: flex;
  //   justify-content: center;
  // }

  .body {

    display: flex;
    justify-content: center;
    // gap: 5vw; 
    position: relative;



    .left{
      display: flex;
      width: 50%;
      height: auto;

      p {
        margin: 0;
        font-family: "Roboto", sans-serif;
     
  
        &:nth-of-type(1) {
          font-size: 2vw;
          gap: 0.8vw; 
          line-height: 1.3;
          font-weight: 200;
  
          @media screen and (max-width: 1000px) {
            font-size: 2vw; 
            line-height: 1.8;
          }
  
          span {
            margin-right: 0.3vw; 
            font-family: "Roboto", sans-serif;
    
          }
  
          .mask {
            position: relative;
            overflow: hidden;
            display: inline-flex;
          }
        }
  
        &:nth-of-type(2) {
          font-size: 1.8vw; // Ajuste proporcional usando vw
          width: 80%;
          font-weight: 300;
        }
      }
    }
    .right{
      display: flex;
      width: 50%;
      height: auto;
      justify-content: flex-end;

      p {
        margin: 0;
        font-family: "Roboto", sans-serif;
        max-width: 30vw;
        font-size: 1.5vw;
        margin-top: 15vh;
      }
    }


    @media screen and (max-width: 1000px) {
      padding-left: 0;
      padding-right: 0;
      gap: 0;
    }



    
  }

  .moreWork {
    padding: 2vh; // Ajuste proporcional usando vh
    border-radius: 4vh; // Ajuste proporcional usando vh
    border: 1px solid grey;
  }
}