.section {
  width: 98%;
  height: 90vh;
  display: flex;
  flex-direction: colrowumn;
  color: var(--text);
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 10vh;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    height: auto;
  }
  .motionDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  // @media screen and (max-width: 1000px) {
  //   height: auto;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  // }

  .topcontainer {
    width: 100%;
    height: 40vh;
    border-bottom: 1px solid var(--text);
    @media screen and (max-width: 800px) {
      height: auto;
    }

    h1 {
      margin: 0;
      font-weight: 400;
      font-family: "TalismanLight", sans-serif;
      line-height: 100%;
      width: 100vw;
      font-size: 18vw;
    }
  }

  .bottomcontainer {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      height: 50vh;


    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      height: 70vh;
    }

    .circlecontainer {
      align-self: center;
      height: auto;
    }

    .circlesvg {
      width: 40vh;
      margin-right: 10vw;

      @media screen and (max-width: 800px) {
        // width: 30vh;
      }

      @media screen and (max-width: 600px) {
        margin-top: -20vh;
        margin-right: 0vw;
        width: 40vh;
      }

    }

    .circletext {
      fill: var(--text);
      font-weight: 200;
      font-family: "OverusedGrotesk-Light", sans-serif;
    }
  }

  p {
    font-family: "OverusedGrotesk-Light", sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    max-width: 30vw;
    padding-bottom: 10vh;
    z-index: -1;
    // @media screen and (max-width: 1000px) {
    //   max-width: 70vw;
    // }
    // @media screen and (max-width: 600px) {
    //   max-width: 100vw;
    // }
  }

 

  .textcontainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-left: 5vw;

    .results {
      font-size: 2.2vh;
      margin: 0;

      @media screen and (max-width: 800px) {
        text-align: center;
        max-width: 90vw;
        align-self: center;
        margin-top: 10vh;
        margin-left: 0vw !important;
        margin-bottom: 5vh;
   
      }
    }

    .bottombuttons {
      display: flex;
      margin-top: 0;

      @media screen and (max-width: 1000px) {
        justify-content: center;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 10vh;
      }
    }

    .buttoncontainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: auto;
      height: auto;
      background-color: var(--text);
      padding: 10px 10px;
      margin: 5px 10px;
      border-radius: 10px;
      @media screen and (max-width: 1000px) {
        width: auto;
      }

      @media screen and (max-width: 600px) {
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: var(--background);
        border: 1px solid var(--text);

        h6 {
          color: var(--text);
        }
      }


      h6 {
        font-family: "TalismanLight", sans-serif;
        font-weight: 400;
        font-size: 2.5vh;
        letter-spacing: 0.5px;
        color: var(--background);
        // max-width: 150px;
        margin: 0;
      }

      .button {
        background-color: var(--background);
        color: var(--text);
        width: 98%;

        border-radius: 10px;
        display: flex;
        align-items: flex-end;

        &:hover {
          opacity: 0.9;
        }

        p {
          font-family: "OverusedGrotesk-Light", sans-serif;
          font-weight: 300;
          font-size: 2.5vh;
          padding-left: 10px;
        }
      }
    }
  }

  .description {
    // position: absolute;
    bottom: 10%;
    max-width: 100vw;

    @media screen and (max-width: 600px) {
      bottom: 0%;
    }
    span {
      font-family: "OverusedGrotesk-Light", sans-serif;
      font-weight: 300;
      border-top: 1px solid var(--text);
      line-height: 120%;
      padding-right: 20vw;
      margin-right: 40px;
      font-size: 2vh;
      padding-top: 1vh;
    }

    p {
      font-size: 3.5vh;
      margin: 0;
      font-weight: 300;
      max-width: 50vw;
      font-family: "OverusedGrotesk-Light", sans-serif;
      line-height: 120%;
      @media only screen and (max-width: 1000px) {
        max-width: 100vw;
      }
    }

    .styled-paragraph {
      font-size: 1rem;
      line-height: 1.5;

      .highlighted {
        font-weight: bold; // Cambia el peso de la fuente
        color: #007bff; // Cambia el color de las palabras
        border-top: 2px solid white; // Agrega un borde superior
        padding-top: 2px; // Ajusta el espacio entre el borde y el texto
        display: inline-block; // Asegura que el span respete los bordes
        align-items: flex-start;
      }
    }
  }
}
