.themeSwitcher {
  position: fixed;
  top: 2vh; 
  right: 2vw; 
  // transform: translateX(-50%);
  display: flex;
  gap: 1vw; 
  z-index: 10000;
  @media only screen and (max-width: 600px) {
    top: 9vh; 
  }

  button {
    padding: 1vh 2vw; // Ajuste proporcional usando vh y vw
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--text);
    border-radius: 0.5vw; // Ajuste proporcional usando vw
    border: 1px solid var(--text);
    transition: background-color 0.3s, color 0.3s;
    font-size: 2vh;

    @media only screen and (max-width: 600px) {
      padding: 0.5vh 1vw; 
    }


    p{
      font-family: "Josefin Sans", sans-serif !important;
      margin: 0;
      // transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      @media only screen and (max-width: 1000px) {
        font-size: 2vh;
      }
      @media only screen and (max-width: 600px) {
        font-size: 1.5vh;
      }
    }
   

    &:hover {
      background-color: var(--text);
      color: var(--background);
    }
  }
}