.section {
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
//   background-color: var(--text);
  color: var(--text);
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 10vh;
  margin-bottom: 1vw;


  .item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--text);

    @media only screen and (max-width: 1000px) {
      flex-direction: column;

    }

    // &:hover{
    //     background-color: var(--text);
    //     color: var(--background);
    // }

    h2{
        font-size: 23vh;
        margin: 0;
        font-family: 'OverusedGrotesk-Light', sans-serif;
        font-weight: 400;
    }

    h4{

        font-family: 'TalismanLight', sans-serif;
        font-size: 3vh;
    }

    p{
        font-family: 'OverusedGrotesk-Light', sans-serif;
        font-weight: 300;
        font-size: 2vh;
        max-width: 30vw;
        @media only screen and (max-width: 1000px) {
          max-width: 100%;
          font-size: 2.3vh;
        }

        @media only screen and (max-width: 600px) {
          font-size: 2vh;
        }
  
        
    }


    .indexcontainer{
        height: auto;
        width: 30%;
        display: flex;
        align-items: flex-start !important;
     justify-content: flex-start;
     @media only screen and (max-width: 1000px) {
          
      width: 100%;}

    }

    .titlecontainer{
        height: auto;
        width: 40%;

        @media only screen and (max-width: 1000px) {
          
          width: 100%;}
    }

    .textcontainer{
        height: auto;
        width: 30%;
        display: flex;
        justify-content: flex-end !important;

        @media only screen and (max-width: 1000px) {
          
          width: 100%;}

    }
  }
}
